<div class="country-picker">
    <input type="text" name="country-name" placeholder="Country" autocomplete="off" />
    <input type="hidden" name="country-code" />
    <div class="flag-dropdown">
        <div class="selected-flag">
            <div class="flag"></div>
            <div class="arrow"></div>
        </div>
        <ul class="country-list hidden"></ul>
    </div>
</div>